In [4]:
import pandas as pd 

sr_1 = pd.Series(["Banana", 42])
sr_1 = pd.Series(["Banana", 42], index=["Fruit", "Amount"])
print(sr_1.loc["Fruit"])
print(sr_1.iloc[1])

Banana
42

In [30]:
import pandas as pd 
from collections import OrderedDict

# scientists = pd.DataFrame({
#     'Name':["Rosaline Franklin", "William Gosset"],
#     "Occupation" : ["Chemist", "Statistician"],
#     "Born":["1920-07-25", "1876-06-14"],
#     "Died":["1958-04-16", "1937-10-16"],
#     "Age" :[37, 61]
# })

# scientists.set_index('Name', inplace=True)

scientists = pd.DataFrame(data = 
                          {
                              'Name':["Rosaline Franklin", "William Gosset"],
                              "Occupation" : ["Chemist", "Statistician"],
                              "Born":["1920-07-25", "1876-06-14"],
                              "Died":["1958-04-16", "1937-10-16"],
                              "Age" :[37, 61]},
                          index = ["Rosaline Franklin", "William Gosset"],
                          columns = ["Occupation", "Born", "Age", "Died"]  
                          )


# scientists = pd.DataFrame(OrderedDict([ 
#                               ('Name', ["Rosaline Franklin", "William Gosset"]),
#                               ("Occupation" , ["Chemist", "Statistician"]),
#                               ("Born", ["1920-07-25", "1876-06-14"]),
#                               ("Died", ["1958-04-16", "1937-10-16"]),
#                               ("Age" , [37, 61])
#                           ]))

sr_first = scientists.loc["Rosaline Franklin"]
# print(sr_first.iloc[1])
# print(sr_first.loc["Age"])
print(sr_first.values)
print(sr_first.index)
print(sr_first.keys())
print(sr_first.index[0])
print(sr_first.keys()[0])

ages = scientists["Age"]
print(ages.mean())
print(ages.sum())
print(ages.min())
print(ages.std())
print(ages.var())

['Chemist' '1920-07-25' 37 '1958-04-16']
Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')
Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')
Occupation
Occupation
49.0
49.0
98
37
16.97056274847714
288.0

In [47]:
import pandas as pd 

scientists = pd.read_csv("File\\scientists.csv")
ages = scientists["Age"]
# print(ages[ages > ages.mean()])
df_mask = scientists["Age"] > scientists["Age"].mean() 
# old_df =scientists[df_mask]
# print(type(df_mask))
print(ages + ages)
# print(pd.Series([1, 100]))
# print(ages+ pd.Series([1, 2]))
rev_ages = ages.sort_index(ascending=False)
print(ages + rev_ages)
print(scientists[scientists['Age'] > scientists['Age'].mean()])
print(scientists * 2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician
                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

In [67]:
import pandas as pd 

scientists = pd.read_csv("File\\scientists.csv")
# print(scientists.info())
# print(scientists["Born"].dtype)
# print(scientists["Died"].dtype)

born_datetime = pd.to_datetime(scientists["Born"], format="%Y-%m-%d")
print(type(born_datetime))
died_datetime = pd.to_datetime(scientists["Died"], format="%Y-%m-%d")
print(died_datetime)
scientists["born_dt"], scientists["died_dt"] = (born_datetime, died_datetime)
scientists["age_days_dt"] =(scientists["died_dt"] - scientists["born_dt"])
print(scientists["age_days_dt"])

<class 'pandas.core.series.Series'>
0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]
0   13779 days
1   22404 days
2   32964 days
3   24345 days
4   20777 days
5   16529 days
6   15324 days
7   28422 days
Name: age_days_dt, dtype: timedelta64[ns]

In [78]:
import pandas as pd 
import random 
df = pd.read_csv("File\\scientists.csv")
print(df)
# random.seed(42)
# random.shuffle(df["Age"])
# print(df)

print(df.columns)
df = df.drop("Age", axis=1)
print(df.columns)

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician
Index(['Name', 'Born', 'Died', 'Age', 'Occupation'], dtype='object')
Index(['Name', 'Born', 'Died', 'Occupation'], dtype='object')

In [83]:
import pandas as pd 

df = pd.read_csv("File\\scientists.csv")
sr_name = df["Name"]
sr_name.to_pickle("File\\Save\\df_sr_name.pickle")

In [84]:
import pandas as pd
sr_name_pickle = pd.read_pickle("File\\Save\\df_sr_name.pickle")