In [6]:
import seaborn as sns 

titanic = sns.load_dataset("titanic")

mask1 = (titanic.age >= 10 ) & (titanic.age < 20)
df_teenage = titanic.loc[mask1, :]
print(df_teenage.head())

mask2 = (titanic["age"] < 10 ) & (titanic["sex"] == "female")
df_female_teenage_under = titanic.loc[mask2, :]
print(df_female_teenage_under.head())

    survived  pclass     sex   age  sibsp  parch      fare embarked   class  \
9          1       2  female  14.0      1      0   30.0708        C  Second
14         0       3  female  14.0      0      0    7.8542        S   Third
22         1       3  female  15.0      0      0    8.0292        Q   Third
27         0       1    male  19.0      3      2  263.0000        S   First
38         0       3  female  18.0      2      0   18.0000        S   Third

      who  adult_male deck  embark_town alive  alone
9   child       False  NaN    Cherbourg   yes  False
14  child       False  NaN  Southampton    no   True
22  child       False  NaN   Queenstown   yes   True
27    man        True    C  Southampton    no  False
38  woman       False  NaN  Southampton    no  False
     survived  pclass     sex  age  sibsp  parch     fare embarked   class  \
10          1       3  female  4.0      1      1  16.7000        S   Third
24          0       3  female  8.0      3      1  21.0750        S   Third
43          1       2  female  3.0      1      2  41.5792        C  Second
58          1       2  female  5.0      1      2  27.7500        S  Second
119         0       3  female  2.0      4      2  31.2750        S   Third

       who  adult_male deck  embark_town alive  alone
10   child       False    G  Southampton   yes  False
24   child       False  NaN  Southampton    no  False
43   child       False  NaN    Cherbourg   yes  False
58   child       False  NaN  Southampton   yes  False
119  child       False  NaN  Southampton    no  False

In [13]:
import seaborn as sns 
import pandas as pd 

titanic = sns.load_dataset("titanic")

mask3 = titanic.sibsp == 3
mask4 = titanic.sibsp == 4
mask5 = titanic.sibsp == 5


df_isin = titanic["sibsp"].isin([x for x in range(3, 6)])
df_boolean = titanic[mask3|mask4|mask5]

# df_check = titanic[df_isin]
# df_check = titanic[df_boolean]
print(df_boolean.head())

    survived  pclass     sex   age  sibsp  parch      fare embarked  class  \
7          0       3    male   2.0      3      1   21.0750        S  Third
16         0       3    male   2.0      4      1   29.1250        Q  Third
24         0       3  female   8.0      3      1   21.0750        S  Third
27         0       1    male  19.0      3      2  263.0000        S  First
50         0       3    male   7.0      4      1   39.6875        S  Third

      who  adult_male deck  embark_town alive  alone
7   child       False  NaN  Southampton    no  False
16  child       False  NaN   Queenstown    no  False
24  child       False  NaN  Southampton    no  False
27    man        True    C  Southampton    no  False
50  child       False  NaN  Southampton    no  False

In [25]:
import pandas as pd 

# Dataframe merge
df1 = pd.DataFrame( {"a": ["a0", "a1", "a2", "a3"],
                     "b": ["b0", "b1", "b2", "b3"],
                     "c": ["c0", "c1", "c2", "c3"]}, 
                     index=[0, 1, 2, 3])


df2 = pd.DataFrame( {"a": ["a2", "a3", "a4", "a5"],
                     "b": ["b2", "b3", "b4", "b5"],
                     "c": ["c2", "c3", "c4", "c5"],
                     "d": ["d2", "d3", "d4", "d5"],}, 
                     index=[2, 3, 4, 5])

# print(df1.head())
# print(df2.head())

result = pd.concat([df1, df2])
# print(result.head(n=10))
result = pd.concat([df1, df2], ignore_index=True)
result = pd.concat([df1, df2], axis=1)
print(result.head(n=20))

     a    b    c    a    b    c    d
0   a0   b0   c0  NaN  NaN  NaN  NaN
1   a1   b1   c1  NaN  NaN  NaN  NaN
2   a2   b2   c2   a2   b2   c2   d2
3   a3   b3   c3   a3   b3   c3   d3
4  NaN  NaN  NaN   a4   b4   c4   d4
5  NaN  NaN  NaN   a5   b5   c5   d5

In [42]:
import pandas as pd 

# Dataframe merge
df1 = pd.DataFrame( {"a": ["a0", "a1", "a2", "a3"],
                     "b": ["b0", "b1", "b2", "b3"],
                     "c": ["c0", "c1", "c2", "c3"]}, 
                     index=[0, 1, 2, 3])


df2 = pd.DataFrame( {"a": ["a2", "a3", "a4", "a5"],
                     "b": ["b2", "b3", "b4", "b5"],
                     "c": ["c2", "c3", "c4", "c5"],
                     "d": ["d2", "d3", "d4", "d5"],}, 
                     index=[2, 3, 4, 5])

result = pd.concat([df1, df2], axis=1, join="inner")

sr1 = pd.Series(["s0", "s1", "s2", "s3"], name="columns")
sr2 = pd.Series(["f0", "f1", "f2"], name="columns", index=[1, 4, 5])
sr3 = pd.Series(["g0", "g1", "g2", "g3"], name="g")

sr1_result = pd.concat([df1, sr1], axis=0)
sr2_result = pd.concat([df2, sr2], axis=1, sort=True)
sr3_result = pd.concat([sr1, sr2], axis=1)
sr4_result = pd.concat([sr2, sr3], axis=0, ignore_index=True)
sr4_result = pd.concat([sr2, sr3], axis=0)
print(sr4_result)

1    f0
4    f1
5    f2
0    g0
1    g1
2    g2
3    g3
dtype: object

In [ ]:
""