In [8]:
import pandas as pd 
import seaborn as sns 

titanic = sns.load_dataset("titanic")
df = titanic.loc[:, ["age", "sex", "fare", "class", "survived"]]
grouped = df.groupby(["class", "sex"])

# multi index 

# for key, group in grouped:
#     print("key", key)
#     print("number", len(group))
#     print("-"*10)
#     print(group.head(n=10))
    

gdf = grouped.mean()
#print(gdf.head(5))
print(gdf.loc["First"])
print(gdf.loc[("First", "female")])
print(gdf.xs("male", level="sex"))

              age        fare  survived
sex
female  34.611765  106.125798  0.968085
male    41.281386   67.226127  0.368852
age          34.611765
fare        106.125798
survived      0.968085
Name: (First, female), dtype: float64
              age       fare  survived
class
First   41.281386  67.226127  0.368852
Second  30.740707  19.741782  0.157407
Third   26.507589  12.661633  0.135447

In [16]:
import pandas as pd 
import seaborn as sns 

titanic = sns.load_dataset("titanic")
df = titanic.loc[:, ["age", "sex", "class", "fare", "survived"]]
print(df.head())


pdf1 = pd.pivot_table(df, 
                      index = "class", 
                      columns = "sex", 
                      values = "age", 
                      aggfunc= "mean")

print(pdf1.head(n=10))

# grouped = df.groupby(["class", "sex"])[["age"]].mean()
# print(grouped.head())

pdf2 = pd.pivot_table(df, 
                      index = "class", 
                      columns = "sex", 
                      values = "age", 
                      aggfunc=["mean", "sum"])

print(type(pdf2))
print(pdf2.head(n=10))

pdf3 = pd.pivot_table(df, 
                      index = "class", 
                      columns = "sex", 
                      values = ["age", "fare"],
                      aggfunc = ["mean", "max"])

print(pdf3.index)
print(pdf3.head(n=10))

    age     sex  class     fare  survived
0  22.0    male  Third   7.2500         0
1  38.0  female  First  71.2833         1
2  26.0  female  Third   7.9250         1
3  35.0  female  First  53.1000         1
4  35.0    male  Third   8.0500         0
sex        female       male
class
First   34.611765  41.281386
Second  28.722973  30.740707
Third   21.750000  26.507589
             mean                sum
sex        female       male  female     male
class
First   34.611765  41.281386  2942.0  4169.42
Second  28.722973  30.740707  2125.5  3043.33
Third   21.750000  26.507589  2218.5  6706.42
<class 'pandas.core.frame.DataFrame'>
CategoricalIndex(['First', 'Second', 'Third'], categories=['First', 'Second', 'Third'], ordered=False, dtype='category', name='class')
             mean                                      max                  \
              age                   fare               age            fare
sex        female       male      female       male female  male    female
class
First   34.611765  41.281386  106.125798  67.226127   63.0  80.0  512.3292
Second  28.722973  30.740707   21.970121  19.741782   57.0  70.0   65.0000
Third   21.750000  26.507589   16.118810  12.661633   63.0  74.0   69.5500



sex         male
class
First   512.3292
Second   73.5000
Third    69.5500