In [25]:
import seaborn as sns 
import pandas as pd 

titanic = sns.load_dataset("titanic")
# print(titanic.info())
nan_deck = titanic["deck"].value_counts(dropna=False)
# print(nan_deck.head(n=10))
# print(titanic.head().isnull)
print(titanic.head().notnull)
df_nan_check = titanic.tail(n=15).isnull().sum(axis=0)
# titanic["deck"] = titanic["deck"].fillna(method="ffill")

<bound method DataFrame.notnull of    survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True  >

In [32]:
import seaborn as sns 
import pandas as pd 

df = sns.load_dataset("titanic")
missing_df = df.isnull()
print(missing_df.head(n=10))

for col in missing_df.columns:
    missing_df_count =  missing_df[col].value_counts()
    try:
        print(col, ":", missing_df_count[True])
    except:
        print(col, ":", 0)

df_thresh = df.dropna(axis=1, thresh=500)
df_age = df.dropna(subset=["age"], how="any", axis=0)
print(len(df_age))

   survived  pclass    sex    age  sibsp  parch   fare  embarked  class  \
0     False   False  False  False  False  False  False     False  False
1     False   False  False  False  False  False  False     False  False
2     False   False  False  False  False  False  False     False  False
3     False   False  False  False  False  False  False     False  False
4     False   False  False  False  False  False  False     False  False
5     False   False  False   True  False  False  False     False  False
6     False   False  False  False  False  False  False     False  False
7     False   False  False  False  False  False  False     False  False
8     False   False  False  False  False  False  False     False  False
9     False   False  False  False  False  False  False     False  False

     who  adult_male   deck  embark_town  alive  alone
0  False       False   True        False  False  False
1  False       False  False        False  False  False
2  False       False   True        False  False  False
3  False       False  False        False  False  False
4  False       False   True        False  False  False
5  False       False   True        False  False  False
6  False       False  False        False  False  False
7  False       False   True        False  False  False
8  False       False   True        False  False  False
9  False       False   True        False  False  False
survived : 0
pclass : 0
sex : 0
age : 177
sibsp : 0
parch : 0
fare : 0
embarked : 2
class : 0
who : 0
adult_male : 0
deck : 688
embark_town : 2
alive : 0
alone : 0
714

In [45]:
import seaborn as sns 
import pandas as pd 

df = sns.load_dataset("titanic")
mean_age = df["age"].mean(axis=0)
# print(df.info())
df["age"].fillna(mean_age, inplace=True)
# print(df.info())
most_freq = df["embark_town"].value_counts(dropna=True).idxmax()
print(most_freq)
df["embark_town"].fillna(most_freq, inplace=True)
print(df["embark_town"][825:830])

Southampton
825     Queenstown
826    Southampton
827      Cherbourg
828     Queenstown
829    Southampton
Name: embark_town, dtype: object

In [51]:
import pandas as pd 

df = pd.DataFrame({
    "C1":["a", "a", "b", "a", "b"],
    "C2":[1, 1, 1, 2, 2],
    "C3":[1, 1, 2, 2, 2]})

print(type(df))
df_dup= df.duplicated()
col_dup = df["C3"].duplicated()
print(col_dup)

<class 'pandas.core.frame.DataFrame'>
0    False
1     True
2    False
3     True
4     True
Name: C3, dtype: bool

In [52]:
import pandas as pd 

df1 = pd.DataFrame({
    "C1":["a", "a", "b", "a", "b"],
    "C2":[1, 1, 1, 2, 2],
    "C3":[1, 1, 2, 2, 2]})


df2 = pd.DataFrame({
    "C1":["a", "a", "b", "a", "b"],
    "C2":[1, 1, 1, 2, 2],
    "C3":[1, 1, 2, 2, 2]})


df1.drop_duplicates(inplace=True)
df2.drop_duplicates(subset=["C2", "C3"], inplace=True)