In [12]:
import seaborn as sns 

def add_10(n):
    return n + 10 

def add_two_obn(a, b):
    return a + b 

titanic = sns.load_dataset("titanic")
df = titanic.loc[:, ["age", "fare"]]
df["ten"] = 10
print(df.head(10))
sr1 = df["age"].apply(add_10)
print(sr1)

sr2 = df["age"].apply(add_two_obn, b=10)

    age     fare  ten
0  22.0   7.2500   10
1  38.0  71.2833   10
2  26.0   7.9250   10
3  35.0  53.1000   10
4  35.0   8.0500   10
5   NaN   8.4583   10
6  54.0  51.8625   10
7   2.0  21.0750   10
8  27.0  11.1333   10
9  14.0  30.0708   10
0      32.0
1      48.0
2      36.0
3      45.0
4      45.0
       ...
886    37.0
887    29.0
888     NaN
889    36.0
890    42.0
Name: age, Length: 891, dtype: float64

In [19]:
import seaborn as sns 

titanic= sns.load_dataset("titanic")
df = titanic.loc[:, ["age", "fare"]]
print(df.head(10))

def add_10(n):
    return n +10

def missing_value_check(series):
    return series.isnull()

df_map = df.applymap(add_10)
print(df_map.head(n=10)) 
df_check = df.apply(missing_value_check, axis=0)
print(df_check.head(n=10))

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500
5   NaN   8.4583
6  54.0  51.8625
7   2.0  21.0750
8  27.0  11.1333
9  14.0  30.0708
    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500
5   NaN  18.4583
6  64.0  61.8625
7  12.0  31.0750
8  37.0  21.1333
9  24.0  40.0708
     age   fare
0  False  False
1  False  False
2  False  False
3  False  False
4  False  False
5   True  False
6  False  False
7  False  False
8  False  False
9  False  False

In [1]:
import seaborn as sns 

titanic = sns.load_dataset("titanic")
df = titanic.loc[:, ["age", "fare"]]
print(df.head(n=10))
print("\n")

def min_max(x):
    return x.min() - x.max()

result = df.apply(min_max)

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500
5   NaN   8.4583
6  54.0  51.8625
7   2.0  21.0750
8  27.0  11.1333
9  14.0  30.0708

In [4]:
import seaborn as sns 

titanic = sns.load_dataset("titanic")
df = titanic.loc[:, ["age", "fare"]]
df["ten"] = 10 
print(df.head())

def add_two_obj(a, b):
    return a + b 

df["head"] = df.apply(lambda x : add_two_obj(x["age"], x["ten"]), axis=1)
print(df.head())

    age     fare  ten
0  22.0   7.2500   10
1  38.0  71.2833   10
2  26.0   7.9250   10
3  35.0  53.1000   10
4  35.0   8.0500   10
    age     fare  ten  head
0  22.0   7.2500   10  32.0
1  38.0  71.2833   10  48.0
2  26.0   7.9250   10  36.0
3  35.0  53.1000   10  45.0
4  35.0   8.0500   10  45.0

In [10]:
import seaborn as sns 

titanic = sns.load_dataset("titanic")

def missing_value(x):
    return x.isnull()

def missing_count(x):
    return missing_value(x).sum()

def total_number_missing(x): 
    return missing_count(x).sum()

df = titanic.loc[:, ["age", "fare"]]

result_df = df.pipe(missing_value)
# result_df = df.pipe(missing_count)
# result_df = df.pipe(total_number_missing)

print(result_df)

age     177
fare      0
dtype: int64

In [19]:
import seaborn as sns 

titanic = sns.load_dataset("titanic")

# df = titanic.loc[0:4, ["survived", "age"]]
df = titanic.loc[0:4, "survived":"age"]

print(df.head())

columns = list(df.columns.values)
columns_sorted = sorted(columns)
print(columns_sorted)
df_sorted = df[columns_sorted]
print(df_sorted)

   survived  pclass     sex   age
0         0       3    male  22.0
1         1       1  female  38.0
2         1       3  female  26.0
3         1       1  female  35.0
4         0       3    male  35.0
['age', 'pclass', 'sex', 'survived']
    age  pclass     sex  survived
0  22.0       3    male         0
1  38.0       1  female         1
2  26.0       3  female         1
3  35.0       1  female         1
4  35.0       3    male         0

In [28]:
import seaborn as sns 

titanic = sns.load_dataset("titanic")
df = titanic .loc [0:5, "survived":"age"]
print(df.head())
columns1 = list(df.columns.values)
column_reversed = list(reversed(columns1))
print(column_reversed)
df_reversed = df[column_reversed]

columns2 = ["pclass", "sex", "age", "survived"]
df_customed = df[columns2]
print(df_customed)

   survived  pclass     sex   age
0         0       3    male  22.0
1         1       1  female  38.0
2         1       3  female  26.0
3         1       1  female  35.0
4         0       3    male  35.0
['age', 'sex', 'pclass', 'survived']
   pclass     sex   age  survived
0       3    male  22.0         0
1       1  female  38.0         1
2       3  female  26.0         1
3       1  female  35.0         1
4       3    male  35.0         0
5       3    male   NaN         0

In [34]:
import pandas as pd 

df = pd.read_excel("File\\주가데이터.xlsx", engine="openpyxl")
print(df.head())
df["연월일"] = df["연월일"].astype("str")
dates = df["연월일"].str.split("-")
print(dates)
df["Year"] = dates.str.get(0)
df["Month"] = dates.str.get(1)
df["Day"] = dates.str.get(2)

print(df.head(n=10))

         연월일   당일종가  전일종가     시가     고가     저가     거래량
0 2018-07-02  10100   600  10850  10900  10000  137977
1 2018-06-29  10700   300  10550  10900   9990  170253
2 2018-06-28  10400   500  10900  10950  10150  155769
3 2018-06-27  10900   100  10800  11050  10500  133548
4 2018-06-26  10800   350  10900  11000  10700   63039
0     [2018, 07, 02]
1     [2018, 06, 29]
2     [2018, 06, 28]
3     [2018, 06, 27]
4     [2018, 06, 26]
5     [2018, 06, 25]
6     [2018, 06, 22]
7     [2018, 06, 21]
8     [2018, 06, 20]
9     [2018, 06, 19]
10    [2018, 06, 18]
11    [2018, 06, 15]
12    [2018, 06, 14]
13    [2018, 06, 12]
14    [2018, 06, 11]
15    [2018, 06, 08]
16    [2018, 06, 07]
17    [2018, 06, 05]
18    [2018, 06, 04]
19    [2018, 06, 01]
Name: 연월일, dtype: object
          연월일   당일종가  전일종가     시가     고가     저가     거래량  Year Month Day
0  2018-07-02  10100   600  10850  10900  10000  137977  2018    07  02
1  2018-06-29  10700   300  10550  10900   9990  170253  2018    06  29
2  2018-06-28  10400   500  10900  10950  10150  155769  2018    06  28
3  2018-06-27  10900   100  10800  11050  10500  133548  2018    06  27
4  2018-06-26  10800   350  10900  11000  10700   63039  2018    06  26
5  2018-06-25  11150   150  11400  11450  11000   55519  2018    06  25
6  2018-06-22  11300   100  11250  11450  10750  134805  2018    06  22
7  2018-06-21  11200   350  11350  11750  11200  133002  2018    06  21
8  2018-06-20  11550   250  11200  11600  10900  308596  2018    06  20
9  2018-06-19  11300   700  11850  11950  11300  180656  2018    06  19